<menu th::fragment="menu">
  <!-- Top Nav Start -->
  <div id='cssmenu'>
    <ul>
      <li>
        <a href='index.html'>
          <i class="fa fa-dashboard"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="forms.html">
          <i class="fa fa-align-justify"></i>
          Forms
        </a>
      </li>
      <li class=''>
        <a href='#'><i class="fa fa-bar-chart-o"></i>Graphs</a>
        <ul>
           <li><a href='flot.html'>Flot Graphs</a></li>
           <li><a href='graphs.html'>Google Graph</a></li>
           <li><a href='vector-maps.html'>Vector Maps</a></li>
        </ul>
      </li>
      <li class=''>
        <a href='#'><i class="fa fa-flask"></i>UI Elements</a>
        <ul>
           <li><a href='ui-elements.html'>UI Elements</a></li>
           <li><a href='panels.html'>Panels</a></li>
           <li><a href='notifications.html'>Notifications</a></li>
           <li><a href='icons.html'>Icons</a></li>
        </ul>
      </li>
      <li class=''>
        <a href='#'><i class="fa fa-dashboard"></i>Extras</a>
        <ul>
          <li><a href='#'>Blog</a>
            <ul>
              <li><a href='blog.html'>Blog</a></li>
              <li><a href='blog-full-page.html'>Blog Full Page</a></li>
            </ul>
          </li>
          <li><a href='edit-profile.html'>Edit Profile</a></li>
          <li><a href='invoice.html'>Invoice</a></li>
          <li><a href='default.html'>default</a></li>
          <li><a href='#'>Submenu</a>
            <ul>
              <li><a href='#'>Sub Product</a></li>
              <li><a href='#'>Sub Product</a></li>
              <li><a href='#'>Sub Product</a></li>
            </ul>
          </li>
          <li><a href='login.html'>Login</a></li>
          <li><a href='help.html'>Help</a></li>
          <li><a href='404.html'>404</a></li>
          <li><a href='500.html'>500</a></li>
        </ul>
      </li>
      <li class='active'>
        <a href='#'><i class="fa fa-table"></i>Tables</a>
        <ul>
          <li><a href='tables.html'>Tables</a></li>
          <li><a href='pricing.html'>Pricing Plan</a></li>
           <li><a href='timeline.html'>Timeline</a></li>
        </ul>
      </li>
      <li>
        <a href="media.html">
          <i class="fa fa-picture-o"></i>
          Media
        </a>
      </li>
      <li class="hidden-sm">
        <a href="calendar.html">
          <i class="fa fa-calendar"></i>
          Calendar
        </a>
      </li>
      <li class="hidden-sm">
        <a href="typography.html">
          <i class="fa fa-font"></i>
          Typography
        </a>
      </li>
    </ul>
  </div>
  <!-- Top Nav End -->

  <!-- Sub Nav End -->
  <div class="sub-nav hidden-sm hidden-xs">
    <ul>
      <li><a href="" class="heading">Tables</a></li>
      <li class="hidden-sm hidden-xs">
        <a href="#" class="selected">Tables</a>
      </li>
      <li class="hidden-sm hidden-xs">
        <a href="pricing.html">Pricing Tables</a>
      </li>
    </ul>
    <div class="custom-search hidden-sm hidden-xs">
      <input type="text" class="search-query" placeholder="Search here ..."></input>
      <i class="fa fa-search"></i>
    </div>
  </div>
  <!-- Sub Nav End -->
</menu>
